@charset "utf-8";
/*CSS DOC*/
body{
    background-color: white;
}
.heading{
    display: flex;
    background-color: black;
    height: 150px;
    width: 100%;
}
.heading h1{
    color:rgb(202, 131, 0);
    font-size: 50px;
}
.heading img{
    margin-left: 400px;
}
nav{
    display: flex;
    background-color: black;
    width: 100%;
    height: 100px;
}
nav a:link{
    text-decoration: none;
    color: rgb(202, 131, 0);
}
ul{
    list-style: none;
    display: flex;
}
nav ul{
    font-size: 30px;
}
nav ul a{
    border: 2px solid black;
    margin: 2px;
    padding: 10px 15px;
    text-align: center;
}
#kl{
    margin-left: 350px;
}
nav ul a:hover{
    transform: scale(1.1);
    border: 2px solid black;
    background-color: white;
    color: black;
}
.intro{
    background-image: url("https://scontent.fdel3-1.fna.fbcdn.net/v/t1.6435-9/205956080_205847331421447_62118063351259484_n.jpg?_nc_cat=109&ccb=1-3&_nc_sid=730e14&_nc_ohc=r7HeShys8FgAX_PUEQi&_nc_ht=scontent.fdel3-1.fna&oh=60efd70d9fb691200382f9c4331ad5fb&oe=60DE8827");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    position: relative;
    margin:4px 0px;
    padding:2px 1px;
    align-items: center;
}
.intro p:nth-child(1){
    font-family: georgia;
    font-size: 40px;
    color: white;
    font-weight:bolder;
    padding-top:15%;
    text-align: center;
}
.intro p:nth-child(2){
    font-family: georgia;
    font-size: 30px;
    color:white;
    font-weight: bolder;
    text-align: center;
}
.bk{
    background-color: black;
    opacity: 0.7;
    border: 2px solid black;
}
.container img{
    width:800px;
    height:500px;
    margin-top: 10px;
    margin-left: 250px;
}
.container h2{
    font-size: 40px;
    text-decoration: underline;
    text-align: center;
    color: black;
}
.container p{
    font-size: 25px;
    text-align: center;
    font-weight: 200;
    color: black;
    line-height: 50px;
}
.container a{
    text-decoration: none;
    color: white;
}
.container button{
    margin: 0px 10px;
    background-color: red;
    color:whitesmoke;
    width:180px;
    height:50px;
    font-family: calibri;
    font-weight: bold;
    font-size:20px;
    outline:none;
    border:none;
    padding: 12px 25px;
    text-decoration: none;
}
.container button{
    margin-left: 600px;
}
.boxes1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    margin-top: 10px;
}
.box1,.box2,.box3{
    width:320px;
    height:320px;
    background-color: black;
    opacity: 0.7;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.boxes1 h1{
    color:white;
    text-align: center;
}
.boxes1 p{
    color:white;
    text-align: center;
}
.boxes1 hr{
    color: peru;
    background-color: peru;
    width: 80%;
    text-align: center;
    height: 9px;
    border:none;
    outline: none;
}
.attract img{
    height: 500px;
    width: 800px;
    margin-top: 20px;
    margin-left: 300px;
}
.s1{
    color: peru;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.s2{
    color: black;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}
.attract a:link{
    text-decoration: none;
    color:white;
}
.attract button{
    margin: 0px 10px;
    background-color: red;
    color:whitesmoke;
    width:180px;
    height:50px;
    font-family: calibri;
    font-weight: bold;
    font-size:20px;
    outline:none;
    border:none;
    padding: 12px 25px;
    text-decoration: none;
}
.attract button{
    margin-left: 580px;
}
.attract{
    border: 2px solid blue;
    margin-top: 20px;
    padding-bottom: 10px;
}
footer{
    height:300px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
footer p{
    font-family: calibri;
}
footer{
    background-color: black;
    opacity: 0.9;
    margin-top: 10px;
}
footer p:nth-child(1){
    font-size:30px;
    font-weight: bold;
    color:white;
    line-height: 10px;
}
footer p:nth-child(2),footer p:nth-child(3){
    font-size: 20px;
    color: white;
    width:600px;
    text-align: center;
}
.social-icons a{
    width:40px;
    height:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :white;
    margin:20px 10px;
    border-radius: 50%;
}
.social-icons{
    display: flex;
}
.copyright{
    color: black;
    font-size:15px;
}
.social-icons i{
    color:#000000;

}
.social-icons a:hover{
    background-color:grey;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    transition: all ease 0.5s;
}
.social-icons a:hover i{
    color:black;
    transition: all ease 0.5s;
}